* {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body{    
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background: url("/background.jpg") 0% 0% / cover no-repeat;
}
#bluebg{
    height: 100%;
    width: 100%;
    background-color: rgba(38, 0, 255, 0.466);
    position: absolute;
    z-index: -1;
}
.triangle-left {
	width: 0;
	height: 0;
    position: absolute;
	border-top: 20em solid transparent;
	border-left: 20em solid rgba(255, 94, 0, 0.907);
	border-bottom: 50% solid transparent;
    bottom: 0;
    left: 0;
}
.triangle-right {
	width: 0;
	height: 0;
    position: absolute;
	border-top: 20em solid transparent;
	border-right: 20em solid rgb(255, 94, 0,.907);
	border-bottom: 50% solid transparent;
    bottom: 0;
    right: 0;
}
.logo{
    width: 5vw;
    height: auto;
    z-index: 10;
    
}
.instruction{
    display: grid;
    margin-top: -80vh;
    position: relative;
    justify-items: center;
    color: white;
    margin-left: 0;
    margin-right: 0;

}
canvas,video{
    padding-top: 1vh;
    position: absolute;
}
#password{
    z-index: 1;
    position: absolute;
    text-align: center;
}
.orm{
    margin-top: 2vw;
    justify-content: center;
    align-items: center;
}
#pass{
    font-size: 18px;
    padding: 1vw 1vw;
    width: 30vw;
    border-radius: 10px;
    border: 2px solid rgba(128, 128, 128, 0);
    margin-top: 5px;
}
button{
    margin-top: 1vw;
    font-size: 18px;
    padding: 1vw .5vw;
    border-radius: 30px;
    border: 2px solid rgba(128, 128, 128, 0);
    background-color:rgb(255, 94, 0);
}
h1, label,#username{
    color: white;
}
h1{
    color:rgb(255, 124, 49);
}
#notif{
    color: #ff0000;
  }
/* :root {
    --primary: #1aac83;
    --error: #e7195a;
}
.error {
    border: 1px solid var(--error);
} */